<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet L3 Bioinformatique</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        footer{
            padding: 30px;
            background-color: rgb(222, 222, 222);
        }

        center div img{
            display: block;
            max-width: 800px;
        }
    </style>
</head>
<body>
    
    <center>
        <img style="width: 200px;" src="logo.png" alt="">
        <h1 style="color: rgb(238, 89, 238)">Projet de fin d'étude - L3 Bioinformatique</h1>
        <h2 style="color: rgb(238, 89, 238)">Cancer Gynécologique</h2>

        <div>
            <img src="img1.jpg" alt="">
            <img src="img2.jpg" alt="">
        </div>



        <footer>
            <h3>Réalisé par :</h3>
            <p>Bencharif Rayane</p>
            <p>Zibouche Amani</p>
            <p>Ameziane Marwa</p>
        </footer>

    </center>
</body>
</html>